input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance: textfield;}
* { margin: 0; padding: 0; box-sizing: border-box;}
html {font-family: Arial, Helvetica, sans-serif; overflow-y: scroll; max-width: 2000px; margin: 0 auto;}
.container  { padding: 1rem 1.5rem; font-size: 1.2rem; color: #192a56;}

.minh-home { min-height: calc(100vh - 13.05rem);}
.minh-100vh { min-height: 100vh;}
.layout > div:first-child {flex: 1;}
.mb-2remForProducts {margin-bottom: 2rem;}

.d-none {display: none;}
.d-inline {display: inline;}
.d-inlineBlock {display: inline-block;}
.d-block {display: block;}

.d-flex { display: flex;}
.flex-col {flex-direction: column;}
.justifySelf-end {justify-self: center;}

.alignContent-sb {align-content: space-between;}
.alignItem-c {align-items: center;}
.justifyContent-c {justify-content: center;}
.justifyContent-sb {justify-content: space-between;}

.d-grid {display: grid;}

.gap-1-15 { gap: 1rem 10rem;}
.gap-5px {gap: 0.3rem;}
.gap-05 {gap: 0.5rem;}
.gap-1 {gap: 1rem;}
.gap-2 {gap: 2rem;}
.gap-3 {gap: 3rem;}

.mlr-105 {margin: 0 1.5rem;}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-10 {margin-top: 10rem;}
.mb-minus3 {margin-bottom: -3rem;}
.mb-05 {margin-bottom: 0.5rem;}
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.ml-05 {margin-left: 0.5rem;}
.ml-1 {margin-left: 1rem;}
.ml-2 {margin-left: 2rem;}
.mr-1 {margin-right: 1rem;}
.mr-05 {margin-right: 0.5rem;}

.p-HaMenu {padding: 1.3rem 1rem;}
.p-05-0 {padding: 1rem 0;}
.p-05-1 {padding: 0.5rem 1rem;}
.p-05 {padding: 0.5rem;}
.p-1 {padding: 1rem;}
.p-2 {padding: 2rem;}
.p-0-3 {padding: 0 2rem;}

.w-hSpinner {width: 8rem !important; height: 8rem !important;}
.w-35px {width: 2.2rem;}
.w-10 {width: 15rem}
.w-100p {width: 100%;}
.minH-10 {min-height: 10rem;}

.minH-5 {min-height: 5rem;}
.h-3px {height: 0.2rem;}

.border {border: 2px solid #192a56;}
.borderB {border-bottom: 1px solid #ecf0f1;}
.borderR-03 {border-radius: 0.3rem;}
.borderR-05 {border-radius: 0.5rem;}
.borderR-1 {border-radius: 1rem;}
.border-none {border: none;}

.bgS-cover {background-size: cover;}
.bgR-no {background-repeat: no-repeat;}
.bgP-center {background-position: center;}

.resize-none {resize: none;}
.outline-none {outline: none;}

.bg-blue {background-color: #192a56;}
.bg-red {background-color: #EA2027;}
.bg-w {background-color: #ecf0f1;}

.fontC-r { color: #EA2027;}
.fontC-b { color: #192a56;}
.fontC-w { color: #ecf0f1;}
.fontC-lb { color: #3742fa;}

.fontW-b {font-weight: bold;}
.fontF-inherit {font-family: inherit;}

.fontS-sm {font-size: 0.8rem;}
.fontS-n {font-size: 1rem;}
.fontS-md {font-size: 1.2rem;}
.fontS-lg {font-size: 1.5rem;}
.fontS-xl {font-size: 1.8rem;}
.fontS-2xl {font-size: 2.5rem;}
.fontS-3xl {font-size: 3rem;}

.va-center {vertical-align: middle;}
.textAlign-j {text-align: justify;}
.textAlign-c {text-align: center;}
.lineH-108 {line-height: 1.8;}
.textDeco-none {text-decoration: none;}

.hover:hover {opacity: 0.8;}
.underLine:hover {text-decoration: underline;}

.boxShadow {box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13), 0 .0625rem .125rem 0 rgba(0, 0, 0, .11);}
.linGradient {background:  linear-gradient(160deg, rgb(13, 68, 150), rgba(129, 191, 233, 0.842) 60% ); ;}

.position-ab {position: absolute;}
.position-sticky-top0 {position: sticky; top: 0;}
.zIndex-999 {z-index: 999;}

.menuClosed { transform: translateY(-0.1%); opacity: 0; visibility: hidden; transition: transform 0.9s ease-in-out, opacity 0.4s ease-in-out;}
.menuOpen { transform: translateY(0%); opacity: 1; visibility: visible; transition: transform 0.9s ease-in-out, opacity 0.4s ease-in-out;}

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 13.05rem);
  overflow: hidden;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-btn {
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 42px;
  margin-top: 1rem;

  border: 2px solid #00d4ff;
  border-radius: 999px;

  background: rgba(0, 212, 255, 0.12);
  color: #fff;

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;

  backdrop-filter: blur(8px);

  transition: all .35s ease;
}

.hero-btn:hover {
  background: #00d4ff;
  color: #111;
  box-shadow:
    0 0 18px #00d4ff,
    0 0 40px rgba(0,212,255,.45);

  transform: translateY(-3px);
}

@media (max-width: 449px) {.d-inline-Contact { display: inline;} .mt-Contact-05 {margin-Top: 0.5rem;} .hero-h1{ font-size: 1.4rem;}}
@media (min-width: 450px) {.minH-25 {min-height: 25rem;} .w-15 {width: 15rem}}

@media (min-width: 650px) {.d-flex-after550 {display: flex;}}

@media (max-width: 769px) {.left {left: 0rem;} .w-100p-contact {width: 100%;} .d-none-nav {display: none;}}
@media (min-width: 770px) { .d-none-contact {display: none;}}
@media (min-width: 950px) {
      .sideBar {margin-left: 12rem; margin-right: 12rem;}
      .p-1-0 {padding: 1rem 0;}
      .flex-row-after950 {flex-direction: row;}
      .w-60p-until950 {width: 60%;}
      .w-40p-until950 {width: 40%;}
      .mlr-13 {margin: 0 13rem;}}
@media (min-width: 950px) {.gridTC-2-1fr {grid-template-columns: repeat(2 , 1fr);}}
@media (min-width: 1350px) {.gridTC-2-1fr-contact {grid-template-columns: repeat(2 , 1fr);}}
